/* .sectionone{
    margin-left: 20px;
    color: #fff;
    margin-top: 20px;
}
.blogs{
   display: flex;
   padding: 20px;
   overflow-x: scroll;
   overflow-y: hidden;

     
}
.blogs::-webkit-scrollbar{
    display: none;
}
.blog{
    max-height: 250px;
    margin-right: 10px;
}
.cardmain{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
} */
.content{
    background-color: grey;
    height: 400px;
    color: black;
    text-align: center;
    font-size: 48px;
    padding-top: 100px;
}
.card{
    margin-top: 20px;
    display: flex !important;
    background-color: black;
    columns: white;
    height: 400px !important;
}
/* .buttonone{
    width: 800px;
    background-color: black;
    color: white;
} */
.card-title{
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 18px !important;
}
.card-img-top{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.header{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}