.content{
    background-color: grey;
    height: 400px;
    color: black;
    text-align: center;
    font-size: 48px;
    padding-top: 100px;
}
.card{
    margin-top: 20px;
    display: flex !important;
    background-color: black;
    columns: white;
    height: 400px !important;
}
/* .buttonone{
    width: 800px;
    background-color: black;
    color: white;
} */
.card-title{
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 18px !important;
}
.card-img-top{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.header{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}
.buttonmain{
    width: 200px;
    color: black !important;
    border-radius: 120px !important;
    display: block;
    border: 1px solid blue !important;
}
.buttonmain:hover{
    background-color:#0247FE !important;
    color: white !important;
}
.buttontnew{
    margin-top: 20px;
    width: 200px;
    color: black !important;
    border-radius: 120px !important;
    display: block;
    border: 1px solid blue !important;
    margin-left: 57rem;
}
.buttontnew:hover{
    background-color:#0247FE !important;
    color: white !important; 
}