nav a{
    color: white;
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
}
nav{
    width: 100%;
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-decoration: none;
}
nav a:hover{
    color: gold;
}
nav a:active{
    color: gold;
}
nav a:focus{
    color: gold;
}
